* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  flex-direction: column;
  flex-direction: space-between;
}